/*
    COLORS
    #B24026 - Red
    #2F2E12 - Brown
    #62B3AA - Blue
    #E4DAB6 - Tan
*/

body, html
{
    margin: 0px auto;
    font-family: Arial, Veranda, sans-serif;
    text-align: justify;
    color: #2F2E12;
    width: 85%;
    background: #bcbcbc;
}

/* Styling links */

a, a:active, a:visited, a:hover {
    text-decoration: none;
}

a, a:active, a:visited {
    color: #62B3AA;
}

a:hover {
    color: #C4A441;
}

/* Styling headers */

h1 {
    color: #B24026;
    text-transform: uppercase;
}

h1 a, h1 a:active, h1 a:visited {
    color: #B24026;
}

h2 {
    border-left: solid 30px;
    padding-left: 10px;
    color: #2F2E12;
}

h3 { color: #B24026; }

/* Styling navigation buttons */
ul.navigation {
    padding: 0px;
    list-style: none;
}

ul.navigation li {
    padding: 5px;
    margin-right: 10px;
    display: block;
    float: left;
    background: #2F2E12;
}

/* Main DIVs */

.nav {
}

.content {
    clear: left;
    padding: 25px;
    width: 100%;
    background: #ffffff;
}

.footer {
    font-size: 80%;
    text-align: center;
}